<div class="container-fluid">
	<div class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Social Data Visualizer <small><i class="icon-double-angle-right"></i>overview &amp;
					stats </small>
			</h1>
		</div>
		<div class="row-fluid">
			@*<div class="span7 infobox-container">
				<div class="infoDetail infobox-green  ">
					<div class="infobox-icon">
						<i class="icon-comments"></i>
					</div>
					<div class="infobox-data">
						<span class="infobox-data-number">32</span>
						<div class="infobox-content">
							comments + 2 reviews</div>
					</div>
					<div class="stat stat-success">
						8%</div>
				</div>
				<div class="infoDetail infobox-blue  ">
					<i class="icon-search icon-white"></i>
					<div class="infobox-data">
						<span class="infobox-data-number">11</span>
						<div class="infobox-content">
							new followers</div>
					</div>
					<div class="badge badge-success">
						+32% <i class="icon-arrow-up"></i>
					</div>
				</div>
			</div>*@
			<div class="span6">
				<div class="widget-box">
					<div class="widget-header widget-header-flat widget-header-small">
						<h5>
							<i class="icon-twitter-sign"></i> Treding tweets
						</h5>
					</div>
					<div class="widget-body">
						<div class="widget-main">
						   
						</div>
					</div>
				</div>
			</div>
			<div class="span5">
				<div class="widget-box">
					<div class="widget-header widget-header-flat widget-header-small">
						<h5>
							<i class="icon-signal"></i> Trending Searches 
						</h5>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div id="chartID">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
